@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #8b0000, rgb(0, 0, 0));
    min-height: 100vh;
}

.pokedex{
    width: 100%;
max-width: 425px;
}

.image{
    position: absolute ;
    left: 55%;
    bottom: 50%;
    transform: translate(-75%, -9%);
    height: 20% ;
}

.data{
    position: absolute;
    font-weight: 600px;
     top: 54.5%;
     right: 27%;
     font-size: clamp(8px, 5vw, 25px);
}

.Nome{
    text-transform: capitalize;
    color: #393737;
}

.number{
    text-transform: capitalize;
    color: rgba(255, 0, 0, 0.389);
}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;

}

.busca{
    width: 100%;
    padding: 4% ;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600pk;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 5px  ;
}

.botaos{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.botao{
    width: 50%;
    padding: 4%;
    border: 2px solid ;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600pk;
    color: red;
    background-color: black;
    box-shadow: -3px 4px 0 #000, -5px 7px 5px #111 ;
}

.botao:active{
    box-shadow: inset -4px 4px 0 rgb(54, 1, 1);
    font-size: 0.9rem;
}

.popup {
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 17%;
    bottom: 72%;
    transform: translate(-75%, -9%);  
    font-weight: 1000px;
    font-size: clamp(8px, 5vw, 25px);
    text-transform: capitalize;
    color: rgba(255, 0, 0, 0.389);

  }
  
  /* The actual popup */
  .popup  .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #55555571;
    color: #bfbfbfcd;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: clamp(8px, 2vw, 25px);
  }
  
  /* Popup arrow */
  .popup  .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  .bri{
    position: absolute;
    left: 70%;
    bottom: 72%;
    transform: translate(-75%, -9%);  
    font-weight: 1000px;
    font-size: clamp(8px, 5vw, 25px);
    text-transform: capitalize;
    color: rgba(255, 0, 0, 0.389);
    border-radius: 50%;
    border-color: #8b0000;
  }

 